:root {
    --purple: #3b2a3c;
    --orange: #ffa630;
    --green: #3A9D9D;
    --salmon: #ee6352;
    --brown: #706563;
}

body {
    background-color: var(--purple);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    grid-column: 1 / span 3;
}

h1 {
    font-size: 4rem;
    font-family: "Montserrat Subrayada", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--orange);
}

h2 {
    font-size: 1.2rem;
    font-family: "Tomorrow", sans-serif;
    text-align: center;
    color: var(--orange);
    font-weight: lighter;
}

h3 {
    font-size: 1.5rem;
    color: var(--salmon);
    font-family: "Righteous", sans-serif;
    font-weight: lighter;
}

#moves, #highScore {
    font-size: 1.5rem;
    font-family: "Righteous", sans-serif;
    color: var(--orange);
}

a {
    color: var(--brown);
}

button {
    background-color: var(--salmon);
    font-family: "Righteous";
    font-size: 1rem;
    padding: .75rem;
    border: 0;
    border-radius: 5px;
}

.container {
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template-columns: 25% auto 25%;
   grid-template-rows: 20% 80%;
}

#gameboard {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.scoring {
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
}

.card-container {
    position: relative;
    width: 150px;
    height: 175px;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.front-click {
    transform: rotateY(180deg);
}

.back-click {
    transform: rotateY(0deg);
}

.card figure {
    margin: 0;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(0deg);
    background-color: var(--green);
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}